<nav class="flex items-center justify-between bg-[#2A3C59] p-5">
    <a href="index.html" aria-label="Gehe zur Startseite">
        <img class="w-20 h-20" src="assets/img/logo.png" alt="Logo">
    </a>

    <!-- Hamburger Button (nur auf kleinen Bildschirmen sichtbar) -->
    <div class="menu-toggle flex flex-col cursor-pointer z-20 md:hidden">
        <div class="bg-white h-0.5 w-8 my-1 transition-all"></div>
        <div class="bg-white h-0.5 w-8 my-1 transition-all"></div>
        <div class="bg-white h-0.5 w-8 my-1 transition-all"></div>
    </div>

    <!-- Navigation Links (nur auf großen Bildschirmen sichtbar) -->
    <ul class="nav-menu hidden flex-col w-full absolute top-16 left-0 bg-[#2A3C59] items-center py-5 z-30 md:flex md:flex-row md:static md:w-auto md:py-0">
        <li class="my-2 md:mx-4"><a href="index.html" class="nav-link text-white text-lg hover:font-semibold">Startseite</a></li>
        <li class="my-2 md:mx-4"><a href="lebenslauf.html" class="nav-link text-white text-lg hover:font-semibold">Lebenslauf</a></li>
        <li class="my-2 md:mx-4"><a href="tattoos.html" class="nav-link text-white text-lg hover:font-semibold">Tattoos</a></li>
        <li class="my-2 md:mx-4"><a href="fernwanderungen.html" class="nav-link text-white text-lg hover:font-semibold">Fernwanderungen</a></li>
        <li class="my-2 md:mx-4"><a href="kontakt.html" class="nav-link text-white text-lg hover:font-semibold">Kontakt</a></li>
    </ul>
</nav>
