html {
    height: 100%;
}

body {
    background-color: #FFFFFF;
    color: #1E3A5F;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    text-align: center;
    flex: 1;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #357ABD;
    padding: 20px 20px;
    position: relative;
    z-index: 10;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: #1E3A5F;
}

nav a img {
    height: 40px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a.active {
    color: #F9F3EC;
    font-weight: bold;
}


/* Buttons */
button {
    background-color: #357ABD;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #357ABD;
}


/* Footer */
footer {
    background-color: #357ABD;
    color: #FFFFFF;
    padding: 20px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover {
    color: #1E3A5F;
}

footer p {
    margin: 0;
}

footer ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a.active {
    color: #F9F3EC;
    font-weight: bold;
}

/* === Startseite === */

/* Hero Startseite*/
.hero-index {
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: url(/assets/img/index-header.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-container {
    position: absolute;
    bottom: -90px;
    left: -40px;
    width: 500px;
    height: 500px;
    z-index: 2;
    pointer-events: none;
}

.hero-blob {
    width: 100%;
    height: 100%;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    z-index: 3;
    pointer-events: none;
}

/* Einleitungstext */
.intro-text {
    max-width: 900px;
    margin: 60px auto;
    padding: 30px;
    font-size: 18px;
    line-height: 1.5;
    background: #FFE0B2;
    color: #2A3C59;
    border-radius: 30px;
    text-align: justify;
    font-weight: 500;
}


/* Link-Cards Startseite */
.link-gallery {
    text-align: center;
    padding: 40px 20px;
    background-color: #FFF4E1;
}

.link-gallery h2 {
    font-size: 22px;
    color: #2A3C59;
    margin-bottom: 20px;
}

.link-gallery-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.link-card {
    position: relative;
    width: 370px;
    height: 370px;
    overflow: hidden;
    border-radius: 15px;
    text-decoration: none;
    color: #FFF4E1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.link-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.link-card span {
    position: relative;
    z-index: 2;
    background-color: #2A3C59;
    color: #FFFFFF;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.link-card span:hover {
    background-color: #FFFFFF;
    color: #2A3C59;
}

.link-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.contact-social-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 30px 20px;

    border-top: 2px solid #2A3C59;
    margin-top: 40px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}

.contact-box,
.social-media-box {
    width: 45%;
}

.contact-box h2,
.social-media-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #2A3C59;
}

.contact-box p,
.social-media-box p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #2A3C59;
}

.contact-box a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #2A3C59;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
}

.contact-box a:hover {
    background-color: #FFFFFF;
    color: #2A3C59;
}

.social-media-box img {
    width: 40px;
    height: auto;
    vertical-align: middle;
}


/* === Lebenslauf === */

/* Einleitung und Bild mit Blob-Hintergrund*/
.einleitung {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    max-width: 10000px;
    margin: 50px auto;
    padding: 20px;
    position: relative;
}

.einleitung-text {
    margin-bottom: 150px;
    z-index: 3;
    text-align: justify;
}

.einleitung h1 {
    font-size: 32px;
    color: #2A3C59;
    margin-bottom: 50px;
}

.einleitung p {
    font-size: 18px;
    line-height: 1.6;
    color: #2A3C59;
    margin: 0;
    max-width: 550px;
}

.einleitung-image-blob-container {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.einleitung img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
}

.einleitung-blob {
    position: absolute;
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    z-index: 1;
}

/* Skills Cards */
.skills {
    padding: 40px 20px;
    text-align: center;
}

.skill-cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 40px 20px;
    text-align: center;
}

.skill-card {
    background-color: #FFF4E1;
    border-radius: 15px;
    padding: 20px;
    width: 330px;
}

.skill-card h3 {
    font-size: 20px;
    color: #2A3C59;
    margin-bottom: 10px;
}

.skill-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #2A3C59;
    line-height: 1.6;
}

.skill-card li {
    margin-bottom: 5px;
}

/* === Tattoos === */
/*Hero Tattoos*/
.hero-tattoos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: url(/assets/img/tattoos/tattooheader.jpeg);
    background-size: cover;
    background-position: center;
}

.hero-tattoos-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    z-index: 2;
}

.hero-tattoos-container svg {
    width: 100%;
    height: 100%;
}

.hero-tattoos-text {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50% -50%);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    z-index: 3;
}

.introduction-tattoos {
    text-align: left;
}

.handpoke-ablauf {
    text-align: left;
}


/* === Fernwanderungen === */

.wanderung-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.wanderung-container > section {
    flex: 1 1 400px;
}

.wanderung-introduction {
    text-align: justify;
    margin-top: 50px;
    font-size: 18px;
    line-height: 1.8;
    background-color: #FFF4E1;
    color: #2A3C59;
    border-radius: 30px;
    font-weight: 500;
    padding: 30px;
}

/* === Kontakt === */

.kontakt-social-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    gap: 40px;
    padding: 0px 20px;
    margin: 50px auto;
    max-width: 1000px;
}

.kontakt-box,
.social-media-box {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
}

.kontakt-box h2,
.social-media-box h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.kontakt-box p,
.social-media-box p {
    font-size: 16px;
    margin-bottom: 20px;
}

.kontakt-box p {
    text-align: left;
}

/* Formular Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    color: #2A3C59;
    font-size: 14px;
    text-align: left;
}

input, textarea {
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size: 14px;
}

/* Social Media Box */
.social-media-box a {
    display: inline-block;
    margin-top: 10px;
}

.social-media-box img {
    width: 70px;
    height: 70px;
}
 /* Blob und Bild */
.kontakt-blob-container {
    position: absolute;
    bottom: -10%;
    right: -10%;
    width: 35vw;
    height: 35vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    max-height: 400px;
}

.kontakt-blob-container svg {
    width: 100%;
    height: 100%;
}

.kontakt-blob-container img {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    z-index: 2;
}

/* Media Queries */

/* Für Bildschirme bis 1024px */
@media (max-width: 1024px) {
    .kontakt-blob-container {
        width: 40vw;
        height: 40vh;
        right: -5%;
        bottom: -15%;
    }

    .kontakt-blob-container img {
        width: 40%;
        height: 40%;
    }
}

/* Für Bildschirm bis 768px */
@media (max-width: 768px) {
    .kontakt-blob-container {
        width: 45vw;
        height: 45vh;
        right: 0%;
        bottom: -20%;
    }

    .kontakt-blob-container img {
        width: 40%;
        height: 40%;
    }

    .kontakt-social-section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .kontakt-box,
    .social-media-box {
        flex: none;
        width: 100%;
    }
}

